.container-pai {
    margin-bottom: 40px;
}

.card-wrapper {
    position: absolute;
    top: 100px; 
    left: 70%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cabecalho {
    background-color: #e3f4fe;
    padding: 180px 50px 95px 50px; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 60%;
    margin-right: 524px;
}

.titulo-aplicacao,
.descreve-aplicacao {
    margin: 0;
}

.titulo-aplicacao {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.descreve-aplicacao {
    font-size: 10px;
    color: #728091;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
    text-align: left;
    line-height: 1.6;
    margin-top: 35px;
}


.descricao-imc
{
    color: #2f3742;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

p.descricao-imc {
    margin-top: 0px;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-btn-group {
    display: flex;
    gap: 107px;
}

.radio-btn input
{
    transform: scale(1.8); 
}

.radio-btn .label-text {
    font-size: 16px;
    margin-left: 15px;
}


.input-group {
    display: flex;
    gap: 20px;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.input-container {
    position: relative;
}

.medicao {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #3361ee;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.conteudo-saudacao {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.mensagem-saudacao
{
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.mensagem-indicacao {
    font-size: 10px;
    color: #fff;
}

.input-item
{
    color: gray;
}

.input-container input {
    border-radius: 10px;
    width: 160px;
    height: 40px;
}

.input-container .numero
{
    color: #2f3742;
    font-weight: bold;
    font-size: 18px;
}

.conteudo-1-imc {
    display: flex;
    justify-content: space-around;
    background-color: #3361ee;
    border-top-right-radius: 58px;
    border-bottom-right-radius: 58px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px;
    margin-right: 30px;
  }

.texto-resultado
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.texto-descricao
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.div-descricao
{
    margin-top: 10px;
    margin-left: 20px;
}

.valor-resultado 
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.descricao-saude{
    color: #728091;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-saude{
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.container-itens-1 {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px;
    padding: 20px; 
    background-color: #e3f4fe;
}
  
.item-1, .item-2, .item-3 {
    flex: 1;
    max-width: 200px; 
}

/* Limitação e Saúde */
.bloco-limitacao{
    margin-bottom: 20px;
}

.titulo-limitacao{
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.descricao-limitacao{
    color: #728091;
    font-size: 12px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    background-color: #e3f4fe;
}
  
.container-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    width: 100%; 
}
  
.card-limitacao {
    border: 2px solid #ddd; 
    width: 320px; 
    padding: 20px; 
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    text-align: center;
}
  
/* Não deixa os cards esticarem o width pra direita */
.container-group > .bloco-limitacao + .card-limitacao { 
    margin-left: 20px; 
}

.card-limitacao:last-child {
    margin: 0 auto;
}


@media screen and (max-width: 863px) {
    .radio-btn-group {
        display: flex;
        gap: 10px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }

    .descricao-imc
    {
        font-size: 16px;
    }

    .medicao {
        right: 32px; 
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .conteudo-1-imc {
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 18px;
        min-width: 200px;
        margin-right: 0;
    }

    .div-resultado
    {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    .titulo-aplicacao {
        text-align: center;
    }

    .descreve-aplicacao {
        font-size: 12px;
        color: #728091;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; 
        line-height: 1.6;
        max-width: 600px; 
        margin: 0 auto; 
        margin-top: 15px;
    }

    .container-pai {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .cabecalho {
        padding: 20px;
        margin-right: 0;
        text-align: center;
        width: 70%;
    }

    .card-wrapper {
        margin-top: 100px;
        position: absolute;
        top: 200px; 
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .container-itens-1{
        margin-top: 300px;
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 40px;
    }
    
    .item-1, .item-2, .item-3 {
        margin-bottom: 20px; 
    }

    .item-3 {
        margin-bottom: 0; 
    }

    .icon {
        margin-right: 15px;
         margin-bottom: 0; 
    }
}

@media screen and (max-width: 600px) {
    .radio-btn-group {
        display: flex;
        gap: 10px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }

    .descricao-imc
    {
        font-size: 16px;
    }

    .medicao {
        right: 32px; 
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .conteudo-1-imc {
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 18px;
        min-width: 200px;
        margin-right: 0;
    }

    .div-resultado
    {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    .titulo-aplicacao {
        text-align: center;
    }

    .descreve-aplicacao {
        font-size: 12px;
        color: #728091;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; 
        line-height: 1.6;
        max-width: 600px; 
        margin: 0 auto; 
        margin-top: 15px;
    }

    .container-pai {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .cabecalho {
        padding: 20px;
        margin-right: 0;
        text-align: center;
        width: 70%;
    }

    .card-wrapper {
        position: absolute;
        top: 300px; 
        left: 56%;
        transform: translateX(-50%);
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .container-itens-1{
        margin-top: 400px;
        margin-bottom: 40px;
    }

    .item-1, .item-2, .item-3 {
        margin-bottom: 20px; 
    }

    .item-3 {
        margin-bottom: 0; 
    }

    .titulo-limitacao {
        text-align: center;
    }

    .descricao-limitacao {
        text-align: center;
    }
}